/* Tasks list page */

.column-mini {
    width: 30px
}

#tasks_list tr.selected {
    background: cadetblue;
    color: white;
}

/* Nav */

#accordionSidebar i {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .sidebar .nav-item .nav-link span {
        font-size: 1rem;
    }
    .sidebar .nav-item .nav-link i {
        font-size: 1rem !important;
    }
}


/* Login page */

form.user .form-control-user {
    font-size: 1rem;
    color: black;
    border-color: #4e73df;
}

form.user .btn-user {
    font-size: 1rem;
}


/* Global fix */

body {
    cursor: default;
}

.error {
    color: red;
}
